@model UInfo
@{
    ViewBag.Title = "ServiceName".GX();    
}
@section featured {    
    <section class="featured">
        <div class="content-wrapper">
                <div class="content-leftExp">
                    <img class="weixinImg" title="作业邦" src="~/Images/zyb/zyb258.jpg" />
                    <div><span class="weixinText">微信扫一扫</span></div>
                    <div><span class="weixinText">老师学霸跟着走</span></div>
                </div>
                <div class="content-login">
                    @Html.Partial("_TableLogon", new LoginModel() { IsBoundZYB = Model.IsBoundZYB, BoundCode = Model.BoundCode})
                </div>
                <div style="display:none" id="DIVSL"></div>
            </div>
    </section>
}



    @section Scripts {       
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
        @Scripts.Render("~/bundles/slides")
        <script type="text/javascript">
            $(ajaxSubmitFormHandle('#submitBtn', '#logonForm', '登录失败，请联系管理员', '#divInfo', true));                  
        </script>
    }
